# Advent of Code 2023: Day 9
https://adventofcode.com/2023/day/9

## Part 1
Extrapolate how a time-series data will change one step into the future

### Get the data into a list of integers

In [69]:
myfile = open('input.txt', 'r')
data = myfile.read()
data_list = data.split('\n')
data_history = []
for line in data_list:
  data_history.append(list(map(int, line.split())))

### Create function to find a list of differences between the values in the original list

In [70]:
def getDifference(history):
  diff = []
  for i in range(len(history[1:])):
    diff.append(history[i+1]-history[i])
  return diff

### Create function to loop this process until all differences are zero

In [71]:
def untilZero(history):
  curr = history
  seqs = [history]
  while set(curr) != {0}:
    curr = getDifference(curr)
    seqs.append(curr)
  return seqs

### Calculate the next value for each time-series and sum them up

In [72]:
total_sum = 0

for line in data_history:
  seqs = untilZero(line)
  for i, seq in reversed(list(enumerate(seqs[1:]))):
    seqs[i].append(seqs[i][-1] + seqs[i+1][-1])
  total_sum += seqs[0][-1]

total_sum

1995001648

## Part 2
Instead of going forward, extrapolate one step into the past

In [73]:
total_sum = 0

for line in data_history:
  seqs = untilZero(line)
  for i, seq in reversed(list(enumerate(seqs[1:]))):
    seqs[i].append(seqs[i][0] - seqs[i+1][-1])
  total_sum += seqs[0][-1]

total_sum

988