# Advent of Code 2023: Day 11
https://adventofcode.com/2023/day/11

## Part 1
Find the sum of the shortest path between every pair of galaxies

### Get the data into a list of strings

In [148]:
myfile = open('input.txt', 'r')
data = myfile.read()
data_list = data.split('\n')

### Find empty rows and columns

In [149]:
# Find empty rows                                               # Expand rows
e_row = []                                                      # i = 0
for i in range(len(data_list)):                                 # while i < len(data_list):
  if data_list[i] == len(data_list[i])*data_list[i][0]:         #   if data_list[i] == len(data_list[i])*data_list[i][0]:
    e_row.append(i)                                             #     data_list.insert(i, data_list[i])
                                                                #     i +=2
                                                                #   else:
                                                                #     i +=1


# Find empty columns                                            # Expand columns
e_col = []                                                      # j = 0
nrow = len(data_list)                                           # nrow = len(data_list)
for j in range(len(data_list[0])):                              # while j < len(data_list[0]):
  i = 0                                                         #   i = 0
  empty = True                                                  #   empty = True
  while i < nrow:                                               #   while i < nrow:
    if data_list[i][j] != '.':                                  #     if data_list[i][j] != '.':
      empty = False                                             #       empty = False
      break                                                     #       break
    else:                                                       #     else:
      i +=1                                                     #       i +=1
  if empty:                                                     #   if empty:
    e_col.append(j)                                             #     for l in range(nrow):
                                                                #       data_list[l] = data_list[l][:j]+'.'+data_list[l][j:]
                                                                #     j +=2
                                                                #   else:
                                                                #     j +=1

### Create functions:

#### Find the coordinates of galaxies

In [150]:
def findGalaxies(data_map, symbol):
  output = []
  for i in range(len(data_map)):
    for j in range(len(data_map[0])):
      if data_map[i][j] == symbol:
        output.append([i,j])
  return output

#### Calculate the manhattan distance between x and y

In [151]:
def manhattanDistance(x1,y1,x2,y2):
  return abs(x1-x2)+abs(y1-y2)

#### Account for expansion of empty rows and columns between two galaxies

In [152]:
def accountForExpansion(g1, g2, empty_rows, empty_cols, mult):
  c = 0
  min_row = min(g1[0],g2[0])
  max_row = max(g1[0],g2[0])
  min_col = min(g1[1],g2[1])
  max_col = max(g1[1],g2[1])

  for i in empty_rows:
    if i > min_row and i < max_row:
      c +=1
  for i in empty_cols:
    if i > min_col and i < max_col:
      c +=1

  return c * (mult-1)

### Calculate the sum of the pairwise distances

In [153]:
galaxies = findGalaxies(data_list, '#')
total_distance = 0

for i in range(len(galaxies)-1):
  g1 = galaxies[i]
  for j in range(i,len(galaxies)):
    g2 = galaxies[j]
    total_distance += manhattanDistance(g1[0],g1[1],g2[0],g2[1])
    total_distance += accountForExpansion(g1,g2, e_row, e_col, 2)

total_distance

9734203

## Part 2
Find the sum of the shortest path between every pair of galaxies, but instead of doubling empty rows and columns, increase them by one million times.

In [154]:
total_distance = 0

for i in range(len(galaxies)-1):
  g1 = galaxies[i]
  for j in range(i,len(galaxies)):
    g2 = galaxies[j]
    total_distance += manhattanDistance(g1[0],g1[1],g2[0],g2[1])
    total_distance += accountForExpansion(g1,g2, e_row, e_col, 1000000)

total_distance

568914596391