# Advent of Code 2023: Day 5
https://adventofcode.com/2023/day/5

## Part 1
Find the lowest ranked location of the given seeds

### Get the first row of data into a list of integers

In [146]:
myfile = open('input.txt', 'r')
data = myfile.read()
data_list = data.split('\n')
seeds = list(map(int, data_list.pop(0).split(': ')[1].split(' ')))

### Get the rest of the data into a dictionary. w
The keys are the different maps, and the values are lists of lists, where each inner list corresponds to a line from the input.

In [147]:
data_map = {}
while data_list:
  curr = data_list.pop(0)
  if not curr:
    continue
  if curr[0].isalpha():
    data_map[curr[:-5]] = []
    key = curr[:-5]
  if curr[0].isnumeric():
    tmp = curr.split(' ')
    data_map[key].append(list(map(int, tmp)))

### Define two functions
An inner function to convert a value using a single map, and an outer function to convert all the way from seed to location.

In [148]:
def convertValue(value, conversion_map, data_map):
  for range in data_map[conversion_map]:
    if value >= range[1] and value <= range[1]+range[2]-1:
      tmp = value - range[1]
      return range[0] + tmp
  return value

def seedToLocation(value, data_map):
  for i in data_map.keys():
    value = convertValue(value, i, data_map)
  return value

### Find the lowest location

In [149]:
min_location = -1

for seed in seeds:
  location = seedToLocation(seed, data_map)
  if min_location < 0:
    min_location = location
  else:
    if location < min_location:
      min_location = location

min_location

579439039

## Part 2
Find the lowest ranked location of the given seeds, with a different way to read the seed data

### Create reverse versions of the previous functions

In [150]:
def rconvertValue(value, conversion_map, data_map):
  for range in data_map[conversion_map]:
    if value >= range[0] and value <= range[0]+range[2]-1:
      tmp = value - range[0]
      return range[1] + tmp
  return value

def locationToSeed(value, data_map):
  for i in reversed(data_map.keys()):
    value = rconvertValue(value, i, data_map)
  return value

### Go through each location and convert it back to a seed, then check if this seed exists in the different seed ranges.

Brute force method, not very efficient.

In [151]:
i = 0
searching = True
while searching:
  s = locationToSeed(i, data_map)
  for r, seed in enumerate(seeds[::2]):
    if s >= seed and s <= seed+seeds[1::2][r]-1:
      searching = False
      break
  i +=1

i-1

7873084